.btn-submit {
    background-color: red;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.w-full {
    margin-bottom: 10px;
}