@import "normalize.css";
@import url("http://fonts.cdnfonts.com/css/baloo-2-2");

:root {
  --primary: rgb(0, 111, 60);
  --default-layout-header-height: 72px;
  --default-layout-width: 1265px;
  --text-color: #333;
  --white: #fff;
  --black: #000;
  --font-family: "Baloo 2", sans-serif;
  --border-color: #bdc3c7;
  --search-boder-radius: 30px;
  --search-icon-width: 45px;
  --cool-border: 1px solid rgb(217, 217, 217);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  // font-size: 62.5%;
}
body {
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--text-color);
  text-rendering: optimizeSpeed;
  // overflow-y: overlay; //thanh crollbar nổi lên
}
//scrollbar
// body *::-webkit-scrollbar {
//   border-radius: 0;
//   width: 8px;
//   width: 2px !important;
//   height: 2px !important;
//   // display: none !important;
// }

// body *::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(22, 24, 35, 0.06);
//   width: 2px !important;
//   height: 2px !important;
//   // display: none !important;
// }

// body *::-webkit-scrollbar-track {
//   border-radius: 0;
//   background-color: rgba(0, 0, 0, 0);
//   width: 2px !important;
//   height: 2px !important;
//   // display: none !important;
// }
body ::-webkit-scrollbar {
  width: 3px;
}

/* Track */
body ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
///////////
input,
button,
[tabindex] {
  border: none;
  outline: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}
a {
  //a[href] : nếu có thêm [href] thì độ ưu tiên sẽ tăng lên
  color: var(--text-color);
  text-decoration: none;
}
//custom tippy
body {
  // .tippy-box{
  //     border-radius: 8px;
  //     font-weight: 600;
  //     font-size: 16px;
  //     line-height: 22px;
  //     background-color: rgba(84, 84, 84, 0.92);
  //     color: rgb(255, 255, 255);
  //     padding: 3px;
  // }
  // .tippy-box[data-placement^=bottom]>.tippy-arrow:before{
  //     top:-8px;
  //     color:rgba(84, 84, 84, 0.92);
  // }
}
// //font embedded
// @font-face {
//   font-family: Baloo2;
//   src: url("/assets/fonts/Baloo2/Baloo2-Regular.ttf");
//   font-weight: 400;
// }
// @font-face {
//   font-family: Baloo2;
//   src: url("/assets/fonts/Baloo2/Baloo2-Medium.ttf");
//   font-weight: 500;
// }
// @font-face {
//   font-family: Baloo2;
//   src: url("/assets/fonts/Baloo2/baloo2_a.woff2");
//   font-weight: 600;
// }
// @font-face {
//   font-family: Baloo2;
//   src: url("/assets/fonts/Baloo2/Baloo2-Bold.ttf");
//   font-weight: 700;
// }
// @font-face {
//   font-family: Baloo2;
//   src: url("/assets/fonts/Baloo2/Baloo2-ExtraBold.ttf");
//   font-weight: 800;
// }
