fieldset {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  display: block;
  border: none;
  border: solid 1px #ccc;
  min-width: 0;
  background-color: #fff;
  legend {
    margin: 0 0 1.5rem;
    padding: 0;
    width: 100%;
    float: left;
    display: table;
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 600;
    color: #333;
    + * {
      clear: both;
    }
  }
}
