.swapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px auto;
}
.title {
  float: left;
  width: 100%;
  border-bottom: 2px solid #4f0590;
  background-color: #f1f1f1;
  padding: 20px;
}

.login {
  background-color: rgb(252, 252, 184);
  flex: 2;
  border-right: thin solid;
}
.advertise {
  flex: 1;
  img {
    width: 100%;
  }
}
