.title {
    background: url('https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/h3_movie_selection.gif') no-repeat
        scroll center center / 406px 41px #fdfcf0;
    width: 425px;
}
.title2 {
    background: url('https://www.cgv.vn/skin/frontend/cgv/default/images/h3_event.gif') no-repeat scroll center center /
        142px 41px #fdfcf0;
    width: 18%;
}

h2 {
    opacity: 0;
}
.background-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: url('https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg') repeat-x scroll left
        center rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 100%;
}
.wrapper {
    background: #fdfcf0;
    min-height: 1000px;
    text-align: center;
    width: 100%;
}
.movieSlide {
    margin-left: 100px;
    margin-right: 100px;
}
.event {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
